@charset "UTF-8";


body{
	background-color:	#CFCFCF;

}
.container{
	background-color:#FFFFFF;
	position: fixed;
	margin:auto;
	top:5%;
	height:80%;
	left:0px;
	right:0px;
	
	text-align: center;
}

.paging{
	position: fixed;
	text-align: center;
	margin:auto	;
	top:70%;
	left:0px;
	right:0px;
	font-size:20px;
}